.slide-container {
  width: 70%;
  margin: auto; }

h3 {
  text-align: center; }
td{
  color: #FFFF;
}
td{
  border: 1px solid #FFF;
  width: 200px;
  height: 30;
  text-transform: capitalize;
  color: rgb(220, 45, 19);
  font-weight: bold;
  


}
strong{
  color: #FFF;
  margin-left: 5;
}
table{
  width: 400px;
  margin-top: 50;
}
.dis{
  margin-top: 50;
  color: #FFF;
  text-align: left;
}
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
 
  height: 300px;
  width: 600px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}